<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New a Fruit</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <a href="/cats/">Back to Cats</a>

        <h1>Add a New Cat!</h1>

        <form action="/cats" method="POST">

          <!-- for, name and id all have the same name -->
    <label for="name">Type:</label>
    <input type="text" name="name" id="name" />

     <label for="color">color:</label>
    <input type="text" name="color" id="color" />

    <div class="checkbox-div">
   <label for="isReadyToAdopt">Ready to adopt?</label>
   <input type="checkbox" name="isReadyToAdopt" id="isReadyToAdopt" />
 </div>

    <button type="submit">Add Cat</button>

  </form>

</body>
</html>